<!DOCTYPE html>
<html>
<head lang="en">
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    <meta content="descriptions" charset="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{{ css }}" charset="{{ charset }}"/>
</head>
<body>
